@use "../styles/_colors" as colors;

$horizontalMargin: 4rem;
$grey: #a7a7a7;

.navbar {
  position: sticky;
  top: 0;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .logo {
    font-weight: 600;
  }

  .input-area {
    display: flex;
    align-items: center;
    gap: 10px;

    .input-box {
      display: flex;
      align-items: center;
      color: $grey;
      font-size: 1rem;
      background-color: #f4f4f4;
      padding: 0 1rem;
      border-radius: 100px;

      input {
        border: none;
        outline: none;
        padding: 10px;
        background-color: #ffffff00;
      }
    }
    button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: colors.$mainBlue;
      color: #ffffff;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #000000;
      }
    }
  }
}
