@use "../styles/_colors" as colors;

$horizontalMargin: 4rem;
$grey: #000000;

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  background-color: #ffffff;

  .logo {
    font-weight: 600;
  }

  .input-area {
    display: flex;
    align-items: center;
    gap: 18px;

    .input-box {
      display: flex;
      align-items: center;
      color: colors.$headingGrey;
      font-size: 1rem;
      background-color: #f4f4f4;
      padding: 0 1rem;
      border-radius: 100px;

      input {
        display: block;
        border: none;
        outline: none;
        padding: 10px;
        background-color: #ffffff00;
      }
    }

    .about-btn {
      cursor: pointer;
      flex-shrink: 0;
      width: 35px;
      height: 35px;
      border-color: #f9f9f9;
      border-width: 2px;
      border-radius: 50%;
      background-color: #ffffff;
      transition: all 0.1s ease-in-out;

      .button-content {
        text-align: center;
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #b8b8b8;
      }

      &:hover {
        background-color: #8d8d8d;
      }
    }

    .search-btn {
      flex-shrink: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      transition: all 0.2s ease-in-out;
      color: #ffffff;

      &:hover {
        background-color: #000000;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .input-area {
    flex-grow: 1;

    .input-box {
      flex-grow: 1;

      input {
        width: 100%;
      }
    }
  }
}
