@use "../../styles/_colors" as colors;

.sidebar {
  // change 6rem to a value controlled by a variable
  flex-shrink: 0;
  position: sticky;
  top: 5rem;
  height: calc(100vh - 6rem);
  overflow-y: auto;
  width: 350px;
  border: 1px solid colors.$lightGrey;
  border-radius: 10px;

  .sidebar-contents {
    padding: 25px;
  }
}

@media screen and (max-width: 800px) {
  .home {
    .home-text-wrapper {
      .home-text {
        h1 {
          font-size: 3rem;
        }

        .welcome-text {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
