@use "../styles/_colors" as colors;

.home {
  height: 100%;
  display: flex;

  .home-text-wrapper {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    .home-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .welcome-text {
      font-size: 2rem;
    }

    h1 {
      font-size: 3rem;
    }

    .input-box {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;

      input {
        padding: 15px;
        width: 50%;
        border-radius: 2rem;
        background-color: #ebebeb;
        outline: none;
        border: none;
      }

      .search-btn {
        padding: 1rem;
        border-radius: 50%;
        border: none;
        background-color: colors.$mainRed;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #000000;
        }
      }
    }
  }

  .home-img {
    flex: 2;
    height: 100%;
    opacity: 0.5;
    background-image: url("../../public/assets/images/landing-img.jpg");
    background-size: cover;
    background-position: 50% 50%;
  }
}
