@use "../../../styles/_colors" as colors;

.results {
  flex-grow: 1;
  border-radius: 20px;
  margin-left: 30px;

  h2 {
    margin-bottom: 2rem;
  }

  .sentiment-label {
    color: colors.$mainBlue;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
  }
}

.sort-toggles {
  display: flex;
  position: relative;

  .toggle-indicator {
    border-radius: 5px;
    position: absolute;
    height: 100%;
    z-index: -1;
  }
}

.light-blue-background {
  background-color: #e6f5ff;
}
