@use "./styles/_colors" as colors;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

/* Global styles */

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.App {
  height: 100vh;
  font-family: "Playfair Display", serif;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-red {
  color: colors.$mainRed;
}

.main-blue {
  color: colors.$mainBlue;
}

::-webkit-input-placeholder {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: #7a7a7a;
}

input {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: #383838;
}

.section-subheading {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: colors.$headingGrey;
}
